.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;

  .child-section {
    display: flex;
    justify-content: space-between;
  }

  .margin {
    margin: 0.5em;
  }

  .width {
    width: 3em;
  }


}